/*@font-face {
    font-family: "Vazir";
    src: url("https://fdn.fontcdn.ir/Fonts/Vazir/ad3cd4cbda94aee8578c1b622b9002f9dfe345c05870eb375a02da853d08f072.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Vazir";
    src: url("https://fdn.fontcdn.ir/Fonts/Vazir/046a76746039189feb148c360dfb82d07a1e3464d31a2078363587af6f5a1cfb.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Vazir";
    src: url("https://fdn.fontcdn.ir/Fonts/Vazir/d783603a0dd07db6896ecd8a3460e2256a48dca62373a0478706a05490c1a2d8.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Vazir";
    src: url("https://fdn.fontcdn.ir/Fonts/Vazir/fc6648da06acebfe96ad5a8f077f569c5c4dd75b77122951723ddfbfeb191728.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Vazir";
    src: url("https://fdn.fontcdn.ir/Fonts/Vazir/3b2277e82a583c9f91de41aa9e198a14d7ef7f4ccd04828abdd623acd116a88b.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Vazir";
    src: url("https://fdn.fontcdn.ir/Fonts/Vazir/71671477a4b62305fbd3ed4976a31c3c08520cf914656ece6b79543524a49132.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}*/

body{
    direction: ltr;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form{
    margin: 0;
}

h1, p{
    direction: rtl;
    /*font-family: 'Vazir';*/
    text-align: center;
}

.d-none{
    display: none;
}

.card{
    width: 80vw;
    margin: 25px auto;
    padding: 25px;
}

.rtl{
    direction: rtl;
}

.ltr{
    direction: ltr;
    unicode-bidi: bidi-override;
}

#css{
    display: none;
}

label[for=css]{
    width: 100%;
    height: 250px;
    display: flex;
    background: #e0e0e0;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    /*font-family: 'Vazir';*/
    direction: rtl;
}

label[for=css]:hover{
    cursor: pointer;
    background-color: silver;
}

form > input{
    width: 100%;
    margin: 15px 0;
    padding: 15px;
    background: deepskyblue;
    border: none;
    color: white;
}

form > input:hover{
    cursor: pointer;
    background: rgb(77, 210, 255);
}

form > input.disable, form > input.disable:hover{
    cursor: inherit;
    background-color: gray;
    border: none;
}


/* START EDITOR ZONE STYLES */


body{
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    display: flex; 
    flex-direction: row;
    overflow: hidden;
}
h1{
    direction: rtl;
    font-family: "Vazir", "iranSans", "B yekan";
    font-size: 12pt;
    text-align: center;
}
h2{
    direction: ltr;
    font-family: "poppins";
    font-weight: 300;
    font-size: 9pt;
    text-align: center;
    padding: 8px 6px;
    border: 1px dashed silver;
    border-radius: 5px;
}
.sidebar{
    display: inline-block;
    width: 180px;
    height: 100vh;
    border: 1px solid rgb(46, 46, 46);
    color: white;
    text-align: center;
    padding: 0 6px;
}
.container{
    display: inline-block;
    width: calc(50% - 97px);
    height: 100vh;
    border: 1px solid rgb(46, 46, 46);
}
.dropzone{
    text-align: center;
    border: 1px dashed rgb(25, 171, 255);
    color: rgb(25, 171, 255);
    border-radius: 5px;
}
.dropzone h3{
    font-family: "poppins";
    font-weight: 300;
    font-size: 10pt;
}
.dropzone:hover{
    border: 1px dashed rgb(90, 194, 255);
    color: rgb(90, 194, 255);
    cursor: pointer;
}
.d-none{
    display: none;
}

/* END EDITOR ZONE STYLES */
